/* responsive style */

@media screen and (max-width:600px) {

    nav {
        flex-direction: column;
        width: 375px;
        height: 64px;
        flex-shrink: 0;
        margin: 0;
    }

    .logo-menu,
    ul {
        flex-direction: column;
        row-gap: 10px;
    }

    .section-img {
        margin-top: 220px;
        width: 100%;
        height: 483px;
    }

    .section-title {
        padding: 32px 64px 0 66px;
        font-size: 22px
    }

    .section-description {
        width: 304px;
        font-size: 14px;
        font-weight: 400;
    }

    .input-content {
        flex-direction: column;
    }

    .input-conteiner {
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 30px;
    }

    .item {
        margin: 0 auto;
    }
}

/*End nav section */

@media screen and (max-width:600px) {

    .banner {
        flex-direction: column;
        width: 335px;
        padding-top: 0;
        margin-top: 0;
    }

    .banner-hadding {
        font-size: 20px;
    }

    .banner-title ul {
        row-gap: 12px;
        margin-left: -20px;
        padding-right: -50px;
        width: 335px;
    }

    .banner-description {
        font-size: 14px;
        width: 335px;
        padding-top: 16px;
    }

    .banner-description-info {
        font-size: 14px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0;
        width: 335px;
    }

    .banner-img img {
        width: 100%;
        margin-top: 24px;
    }

    .main-button {
        margin-top: 14px;
    }
}

/* img section responsive */
@media screen and (max-width:600px) {

    .img-content-info {
        flex-direction: column;
        gap: 16px;
    }

    .grid-item {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 16px;
    }

    .grid-item-img {
        flex-direction: column;
        gap: 16px;
    }

    .img-container h1 {
        font-size: 20px;
        margin-top: 24px;
    }

    .img-container p {
        font-size: 14px;
        text-align: start;
    }

    .img-container {
        text-align: start;
        width: 335px;
    }

    .img-content {
        margin-top: 16px;
        margin-bottom: 0;
    }

    .img-content img {
        width: 100%;
    }
}




@media screen and (max-width:600px) {

    .info-title h1 {
        font-size: 20px;
    }

    .box {
        flex-direction: column;
    }

    .box-1 h3,
    .box-2 h3,
    .box-3 h3 {
        font-size: 20px;
    }

    .box-1,
    .box-2,
    .box-3 {
        padding: 32px;
    }

    .box-1 p,
    .box-2 p,
    .box-3 p {
        font-size: 14px;
        width: 271px;
    }

    .box-num {
        text-align: start;
        width: 335px;
    }
}

/* Newsletter section styles */
@media screen and (max-width:600px) {

    .newsletter-title {
        width: 335px;
        margin-top: 24px;
        flex-direction: column;
        padding: 24px;
    }

    .newsletter-section h3 {
        font-size: 20px;
    }

    .newsletter-section p {
        font-size: 14px;
    }

    .Newsletter-form input {
        padding: 16px 25px 16px 20px;
    }

    .Subscribe-btn {
        /*width: 288px;*/
        padding: 14px 80px;
        /*text-align: center;*/
    }

    .newsletter-img img {
        width: 100%;
    }
}

/* newsletter styles end */