@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,900&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

/* nav section style */

nav {
    margin: 0 auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}

.logo-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-content img {
    width: 48px;
    height: 56px;
}

.title-1 {
    font-size: 36px;
    font-weight: 800;
    color: #131318;
}

.title-2 {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

.logo-menu,
ul {
    display: flex;
}

.logo-menu li {
    list-style: none;
    margin-right: 44px;
}

.logo-menu,
a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.title-3 {
    color: #FF5400;
    font-weight: 700;
}

/* nav section end */

/* start header section style */

.section-img {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    width: 1170px;
    height: 500px;
    margin: 50px auto 0px;
    border-radius: 16px;
}

.section-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    padding-top: 106px;
}

.section-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 676px;
    margin: 0 auto;
}

.section-content {
    border-radius: 8px;
    background: #FFF;
    padding: 16px;
}

.primery-button {
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    padding: 16px 80px 16px 80px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.input-content {
    display: flex;
    gap: 24px;
}

.input-conteiner {
    display: flex;
    padding-top: 64px;
    gap: 24px;
    margin-left: 120px;
}

/* end header section style */

/* started our popular tours section style */

.banner {
    display: flex;
    gap: 53px;
    width: 1170px;
    margin: 100px auto 0;
}

.banner-title ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 24px;
}

.banner-hadding {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.banner-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
}

.banner-description ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.banner-description-info {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
}

.main-button {
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    margin-top: 46px;
    padding: 14px 34px;
}

/*img-content-style*/

.img-content {
    margin-top: 48px;
}

.img-container {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.img-container h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}

.img-container p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.img-content-info {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 24px;
}

.grid-item {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 24px;
}

.grid-item-img {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.info-title h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.info-title p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.box-1 img {
    width: 64px;
    height: 64px;
}

.main-section {
    width: 1170px;
    margin: 0 auto;
}

.box-2 img,
.box-3 img {
    width: 64px;
    height: 64px;
}

.box-1 {
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
}

.box-2 {
    padding: 32px 55px 32px 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
}

.box-3 {
    padding: 32px 55px 32px 32px;
    width: 573px;
    margin: 24px auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.box-1 h3,
.box-2 h3,
.box-3 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.box-1 p,
.box-2 p,
.box-3 p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    width: 486px;
}

.box {
    margin-top: 48px;
    width: 1440;
    background: #FFF;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.box-num {
    width: 1170px;
}

/* News letter section styles */

.Newsletter-section h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.Newsletter-section p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.Newsletter-form input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    padding: 16px 200px 16px 20px;
}

.input-1 {
    margin-top: 24px;
}

.input-2 {
    margin-top: 16px;
}

.Newsletter-section {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 41px;
}

.Subscribe-btn {
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    font-size: 20px;
    color: #FFFFFF;
    padding: 14px 148px;
    margin-top: 24px;
}

.newsletter-img img {
    width: 672px;
    height: 422px;
}

.newsletter-title {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 100px;
}

/* end newsletter section styles */

/* Footer Section styles */

.footer-black {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
}

.footer-color {
    color: #FF5400;
    font-size: 32px;
    font-weight: 800;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}

.footer-title img {
    width: 40px;
    height: 46px;
}

footer {
    width: 1440px;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    margin: 100px auto 0;
}

.footer-descripton {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.footer-img img {
    width: 30px;
    height: 30px;
}

.footer-img {
    margin-top: 33px;
    text-align: center;
}

.class-1 {
    margin-top: 50px;
    color: #1313181A;
    width: 872px;
}

.footer-end {
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;
}